@page "/createEvent"
@*<h2>Create Product Form</h2>

<EditForm Model="Events" OnValidSubmit="CreateEvents" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">NOMBRE</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="eve" />
            <ValidationMessage For="@(() => _product.Name)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">MATERIALES USADO</label>
        <div class="col-md-10">
            <InputText id="materials" class="form-control" @bind-Value="_product.materials" />
            <ValidationMessage For="@(() => _product.materials)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">DESCRIPCION</label>
        <div class="col-md-10">
            <InputText id="descripcion" class="form-control" @bind-Value="_product.description" />
            <ValidationMessage For="@(() => _product.description)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">CONTACTO</label>
        <div class="col-md-10">
            <InputText id="descripcion" class="form-control" @bind-Value="_product.contact" />
            <ValidationMessage For="@(() => _product.contact)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="image" class="col-md-2 col-form-label">IMAGEN</label>
        <div class="col-md-10">
            <ImageUpload OnChange="AssignImageUrl" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">PUBLICAR</button>
        </div>
    </div>
</EditForm>
<SuccessNotification @ref="_notification" />
*@