@page "/cursos"

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="background-color: #e3f2fd;">
            <div class="container" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="#page-top">RECYCLE PLASTIC</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #e3f2fd;">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" style="background-color: #e3f2fd;">
                    <ul class="navbar-nav ms-auto" style="background-color: #e3f2fd;">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/QuienesSomos">¿Quienes Somos?</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/Registration">REGISTRARSE</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/login">LOGIN</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/products">PROYECTOS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/eventos">Eventos</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/sitesRecycle">REGISTRAR LOCALES</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/counter">TEMAS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/cursos">Cursos</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/CentreRecycle">MAPA</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <center class="pb-3 pt-3"> <h3>Cursos</h3> </center>

        A continuación presentamos una lista de los cursos de reciclaje que tenemos disponibles:
        <br />

        <div class="container px-5 pt-5 pb-5">
            <div class="row" style="background-color:forestgreen;">
                <div class="col-sm-9 p-4  text-white border">El reciclaje de los plásticos pet.</div>
                <div class="col-sm-3 p-4  bg-light  border text-center"><a href="/pdfs/El_Reciclaje_de_los_Plasticos.pdf" target="_blank">Ver</a></div>

            </div>
            <div class="row" style="background-color:forestgreen;">
                <div class="col-sm-9 p-4  text-white border">Manual del reciclaje, por un mundo más sostenible.</div>
                <div class="col-sm-3 p-4  bg-light border text-center"><a href="/pdfs/manual_de_reciclaje.pdf" target="_blank">Ver</a></div>

            </div>

            <div class="row" style="background-color:forestgreen;">
                <div class="col-sm-9 p-4  text-white border">Reciclaje: para la protección del ambiente y los recursos naturales.</div>
                <div class="col-sm-3 p-4  bg-light border text-center"><a href="/pdfs/Reciclaje.pdf" target="_blank">Ver</a></div>

            </div>

            <div class="row" style="background-color:forestgreen;">
                <div class="col-sm-9 p-4  text-white border">La importancia de reciclar en el siglo XXI.</div>
                <div class="col-sm-3 p-4  bg-light border text-center"><a href="/pdfs/La-importancia-de-reciclar.pdf" target="_blank">Ver</a></div>

            </div>
            <div class="row" style="background-color:forestgreen;">
                <div class="col-sm-9 p-4  text-white border">El reciclaje de los plásticos pet</div>
                <div class="col-sm-3 p-4  bg-light  border text-center"><a href="/pdfs/reciclaje2.pdf" target="_blank">Ver</a></div>

            </div>
        </div>

        @code {

        }
        </body>
