@page "/404"

<div class="card customNotFound">
    <div class="card-body">
        <div class="row">
            <div class="col">
                ¡¡¡Lo sentimos, pero no hemos podido encontrar la página que busca!!!
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <button type="button" class="btn btn-primary" @onclick="NavigateToHome">NAVEGA A LA PAGINA PRINCIPAL</button>
    </div>
</div>
<div class="row">
    <div class="col">
        If you want, you can report this error by clicking the following link: <a href="/reportError/404/The page is missing">Report an error</a>
    </div>
</div>