@page "/QuienesSomos"

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="background-color: #e3f2fd;">
        <div class="container" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#page-top">RECYCLE PLASTIC</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #e3f2fd;">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" style="background-color: #e3f2fd;">
                <ul class="navbar-nav ms-auto" style="background-color: #e3f2fd;">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/Registration">INICIAR SESION</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/products">PROYECTOS</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/counter">TEMAS</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded-right" href="https://localhost:5001/CentreRecycle">MAPA</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container my-3">
        <div class="row  pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h2 class="display-6 fw-bold lh-1">Reto</h2>
                <p class="lead">
                    La creación de una cultura de reciclaje y nuevas opciones de aplicación para el plástico recolectado, para mejorar el cuidado del medio ambiente.
                </p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden ">
                <img class="masthead-avatar mb-5" src="https://www.ekosnegocios.com/image/posts/February2021/II6Z4RbfMyog6E9Mu1Ry.jpg" alt="..." width="300" height="200" />
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="container my-3">
        <div class="row  pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h2 class="display-6 fw-bold lh-1">Cultura Del Reciclado</h2>
                <p class="lead">
                    La generación de residuos sólidos urbanos en el estado de Yucatán por día, es de 2,475 toneladas, de las cuales tan sólo en la capital se genera el 51 % equivalente a 1,265 toneladas. La generación per cápita en Mérida es de 1.268 kilogramos/habitante/día y a nivel promedio estatal es de 0.881 kilogramos/habitante/día.
                </p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
                <img class="masthead-avatar mb-5" src="https://radioedu.educarex.es/radioruta/wp-content/uploads/sites/29/2021/04/El-Reciclaje-comienza-en-casa.jpg" alt="..." width="300" height="300" />
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h2 class="display-6 fw-bold lh-1">¿Qué es la Cultura del Reciclado?</h2>
                <p class="lead">
                    El reciclaje es un término que define el proceso por el cual se aprovechan elementos o partes de un producto determinado que, a pesar de haber concluido su vida útil, pueden seguir siendo usados para otros destinos.
                </p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
                <img class="masthead-avatar mb-5" src="https://www.notiultimas.com/wp-content/uploads/2018/11/reciclaje.jpg" alt="..." width="300" height="300" />
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>


    <div class="container my-3">
        <div class="row pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h2 class="display-6 fw-bold lh-1">¿Cuáles son los Intereses de la Cultura de Reciclado? </h2>
                <p class="lead">
                    1.Tener conciencia sobre el problema de la contaminación.
                    <br />
                    2.El fomento del reciclado a todas las personas.
                    <br />
                    3.La creación de nuevos métodos para reciclado de desechos sólidos.
                    <br />
                    4.Que las personas adopten la cultura  mejorar su calidad de vida.
                    <br />
                    5.El cuidado del medio ambiente.
                    <br />
                </p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
                <img class="masthead-avatar mb-5" src="https://images.clarin.com/2019/03/14/materiales-se-necesitan-botellas-de___2Kc9wYMPU_720x0__1.jpg" alt="..." width="300" height="300" />
            </div>
        </div>
    </div>
    </body>


    @code {

    }

   
