@page "/reportError/{errorCode:int}/{errorDescription}"

<h3>
    EL ERROR CON @ErrorCode CDIGO Y  @ErrorDescription ESTA REPORTADO
</h3>
<p>
    Click <a href="/">here</a> REGRESAR A LA PAGINA PRINCIPAL.
</p>