@if (Products.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">NOMBRE</th>
                <th scope="col">MATERIALES USADOS</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">CONTACTO</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
            <tr>
                <td>
                    <img src="@product.ImageUrl" alt="product image" style="width:100px;" />
                </td>
                <td class="align-middle">
                    @product.Name
                </td>
                <td class="align-middle">
                    @product.materials
                </td>
                <td class="align-middle">
                    $@product.description
                </td>
                <td class="align-middle">
                    $@product.contact
                </td>
                <td class="align-middle">
                    <button type="button" class="btn btn-info" @onclick="() => RedirectToUpdate(product.Id)">Update</button>
                </td>
                <td class="align-middle">
                    <button type="button" class="btn btn-danger" @onclick="() => Delete(product.Id)">Delete</button>
                </td>
            </tr>
             }
            </tbody>
    </table>
}
else
{
    <span>
        Loading products...
    </span>
}
